<!DOCTYPE html>
<html>
<body id="body">
<div id="title">
	<h1><a id="titlelink" href="/">tubeslides</a></h1>
</div>

<div style="display: flex">
	<div id="metadata">
		<div><b>Video URL:</b> <a href="{{ url }}">{{ url }}</a></div>
		<div><b>Title:</b> {{ title }}</div>
		<div><b>Creator:</b> {{ creator }}</div>
		<div><b>Video Length:</b> {{ duration }}</div>
		<div id="description"><b>Description:</b> {{ description }}</div>	
	</div>
	<div id="search">
		<form id="form" action="/convert_url">
			<input id="input" name="url"></input>
			<input type="submit" value="Go">
		</form>
	</div>
</div>

<div class="bar" style="margin-top: 0px"></div>

{% if errors != "" %}
	<div class="error"> {{ errors }} </div>
{% endif %}

<div id="content">

{% for slide in slides %}
    <div>
		<!-- <p class="paragraph" style="margin-top: 5px; margin-bottom: 5px">{{ slide.ts }}</p> -->
		<div class="group">
			<div class="column">
				<img class="slide" src="http://localhost:8000/{{ out_dir }}/{{ slide.png }}" alt="placeholder image">
			</div>
			<div class="column">
				{% for line in slide.text %}
					<p class='paragraph'> <span class="timestamp">{{ line.ts }}:</span> {{ line.text }} </p>
				{% endfor %}
			</div>
		</div>
    </div>    
	<div class="bar"></div>

{% endfor %}

{% if errors != "" %}
	<div class="error"> {{ errors }} </div>
{% endif %}

</div>

<script>
if (window.location.hostname == "localhost") {
	document.getElementById("form").action = "http://localhost:8080/";
	document.getElementById("titlelink").href = "http://localhost:8000/index.html";
}

</script>

</body>
<style>
#titlelink {
	text-decoration: none;
	color: black;
}
#body {
	margin: 0px;
}
#title {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 1px;
	font-size: 25px;
	background-color: rgb(185, 185, 255);
}
#search {
	text-align: right;
	margin: 20px;
	width: 25%;
}
#input {
	width: 250px;
}
#metadata {
	padding: 0.5%;
	margin-left: 5%;
	font-size: 150%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: rgb(30, 25, 90);
	width: 75%;
	word-wrap: break-word;
	overflow-x: hidden;
}
#description {
	font-size: 75%;
}
.bar {
	border-top: 3px solid rgb(200, 200, 200);
	padding: 0px;
	margin: 50px;
	height: 0px;
}
.group {
	padding-bottom: 10px;
	display: flex;
}
div.column {
	width: 50%;
}
.slide {
	margin: 5%;
	width: 90%;
	position: sticky;
	top: 20px;
	border: 3px solid rgb(200, 200, 200);
}
.paragraph {
	margin: 5%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 90%;
	word-wrap: break-word;
	overflow-x: hidden;
	font-size: 125%;
	margin-bottom: 0px;
	margin-top: 1%;
}
.timestamp {
	font-size: 75%;
}
.error {
	font-size: 150%;
	margin-left: 5%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: rgb(225, 40, 40);
}
</style>
</html>